Repository Stellarium/stellarium, pull requests merged in 2024-11, with the labels that each got.

#3269 Port code to INDI 2.0.2 and update CPM
  data/gui/normalStyle.css
  plugins/TelescopeControl/src/CMakeLists.txt
  plugins/TelescopeControl/src/INDI/INDIConnection.cpp
  plugins/TelescopeControl/src/INDI/INDIConnection.hpp
  plugins/TelescopeControl/src/INDI/INDIControlWidget.cpp
  plugins/TelescopeControl/src/INDI/INDIControlWidget.ui
  plugins/TelescopeControl/src/INDI/TelescopeClientINDI.cpp
  plugins/TelescopeControl/src/INDI/test/testINDIConnection.cpp
  plugins/TelescopeControl/src/INDI/test/testINDIConnection.hpp
  plugins/TelescopeControl/src/TelescopeClient.cpp
  plugins/TelescopeControl/src/TelescopeClient.hpp
  plugins/TelescopeControl/src/gui/CMakeLists.txt
  plugins/TelescopeControl/src/gui/TelescopeConfigurationDialog.cpp
  plugins/TelescopeControl/src/gui/TelescopeConfigurationDialog.hpp
  plugins/TelescopeControl/src/gui/telescopeConfigurationDialog.ui
  src/external/CMakeLists.txt
Labels: subsystem: plugins

#3985 Keep FOV search radius on hiDPI screen consistent from user perspective
  src/core/StelObjectMgr.cpp
Labels: hw: hdpi

#3990 Update info.ini
  skycultures/norse/info.ini
Labels: subsystem: skycultures
