Repository Stellarium/stellarium, pull requests merged in 2025-09, with the labels that each got.

#4516 Expanding AstroCalc/Almanac tool
  src/gui/AstroCalcAlmanacWidget.cpp
  src/gui/AstroCalcAlmanacWidget.hpp
  src/gui/astroCalcAlmanacWidget.ui
Labels: subsystem: astrocalc

#4524 Correct the lines of Ox and Add the missing 7 stars.
  skycultures/chinese/description.md
  skycultures/chinese/dso_names.zh_CN.fab
  skycultures/chinese/index.json
  skycultures/chinese/star_names.zh_CN.fab
  skycultures/modern_chinese/index.json
Labels: data, subsystem: skycultures

#4528 Fix text errors in two Chinese Sky cultures
  skycultures/chinese_chenzhuo/index.json
  skycultures/chinese_song_dynasty/index.json
Labels: data

#4542 Fix InfoString with RTL components
  src/core/StelObject.cpp
  src/core/StelPainter.cpp
  src/core/StelSkyCultureMgr.cpp
  src/core/StelUtils.cpp
  src/core/modules/MinorPlanet.cpp
  src/core/modules/Nebula.cpp
  src/core/modules/Planet.cpp
  src/core/modules/StarMgr.cpp
  src/core/modules/StarWrapper.cpp
Labels: importance: high
